body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 2000px;
}

header{
    z-index: 999;
    margin: 0px;
    position: sticky;
    top: 0;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.main{
    margin-left: 6%;
    margin-right: 6%;
    height: 120%;
   
}
.section1{
   
   background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent), url(src/bcg_11zon.webp);
   background-repeat: no-repeat;
    width:  100%;
    height: 90vh;
    max-height: 1400px;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; 
    background-size:cover;
    background-position: center; 
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img{
    width:30vw;
    height: 60vh;
    min-width: 370px;
    
}
.text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    color: white;
    font-size: clamp(0.78rem, 2.5vw, 1.1rem);
    height: 100%;
    width: 40%;
}
#big{
    margin: 0;
    width: 100%;
    font-size: 48px;
    font-weight: bold;
    text-align: left;
}

.main p{
    margin: 0;
    width: 100%;
    height: 50px;
   
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.cards{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: 0 0 calc(30% - 20px);
    min-width: 380px;
    row-gap: 5px;
    width: 100%;
    height: 380px;
    border: 3px solid black;
    border-radius: 25px;
    column-gap: 10px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    
}
.content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.image-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 356px;
    border-radius: 12px;
    background-color: #0052A4;

}
.image-box img{
    rotate: -15deg;
    
    height: 100%;

}
.name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}
.contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    width: 100%;
    height:70px;
   

}

table {
    display: none;
    width: 100%;
    height: 100%;
    border-spacing: 0;
    border-collapse: separate;
    text-align: center;
    font-size: 24px;
    border-radius: 10px;
    border: 1px solid black;
   }
   
   table th:not(:last-child),
   table td:not(:last-child) {
    border-right: 1px solid black;
   }
   
   table>thead>tr:not(:last-child)>th,
   table>thead>tr:not(:last-child)>td,
   table>tbody>tr:not(:last-child)>th,
   table>tbody>tr:not(:last-child)>td,
   table>tfoot>tr:not(:last-child)>th,
   table>tfoot>tr:not(:last-child)>td,
   table>tr:not(:last-child)>td,
   table>tr:not(:last-child)>th,
   table>thead:not(:last-child),
   table>tbody:not(:last-child),
   table>tfoot:not(:last-child) {
    border-bottom: 1px solid black;
   }

a{
    color: #000000;
    text-decoration: none;
}
.contact-card{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 10px
    ;
    border-radius: 12px;
    width: 250px;
    height: 60px;
    border: #000000 solid 2px;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}
.contact-card img{
    width: 30px;
}




.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    padding: 20px;
    border-radius: 5px;
    transition: transform 0.2s; 
}

.card:hover,.contact-card:hover {
    transform: translateY(-2px) translateX(10px);
    box-shadow: -8px 8px 0 0 black;
};
@media screen and (max-width:500px){
    .card:hover,.contact-card:hover {
        transform: none;
        box-shadow: none
    };
}

@media screen and (max-width:620px) {
    header{
        height: 50px;
    }
    header img{
        width: 50px;
    }
    .text{
        width: 90%;
        height: auto;
        justify-content: flex-start;
        margin: 0px 15px 0px 15px;
        min-width: 350px;
        row-gap: 0;
    }
    .main{
        width: 100%;
        margin: 0;
    }
    .section1{
        width: 100%;
        padding: 0;
        margin: 0;
        height: 90vh;
        flex-direction: row;
        justify-content: center;
    }
    .image{
        width: 80%;
        align-items: start;

    }
    .image img{
        height: 50vh;
    }
    .contact-card{
        width: 100%;
        justify-content: center;
        column-gap: 15px;
        font-size: 1.4em;
    }
    .contact-card img{
        width: 40px;
    }
    a{
        width: 90%;
        max-width: 380px;
    }
    .cards{
        min-width: 280px;
        display: flex;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .card{
        min-width: 350px;
        max-height: auto;
        width: 100%;
        height: 30%;
    }
    .image-box,.name{
        width: 100%;
    }
    .contact{
    
        margin: 0;
        width: 100%;
        padding: 0;
        height: 150px;
    }
    .card.hidden {
        display: none;
    }

    .modal {
        display: none; 
    }
    .card:hover,.contact-card:hover {
    transform: none;
    box-shadow: 0px 0px 0 0 black;
}

}

  


